<h2><center> Uranq! </center></h2>
<%= content_for :sidebar do %>
  <%= link_to "Add a link", new_link_path %>
<% end %>

<ul>
  <% @links.each do |link| %>
    <li><%= link_to link.title, link.url, :target => '_blank' %></li>
    <%= link_to "comments", link %>

    <% if current_user && current_user.votes.where(:link_id => link.id, :up => true).present? %>
    *
  <% else %>
    <%= link_to "+", votes_path(:vote => {:link_id => link.id, :up => true}), :method => :post %>
  <% end %>

    <% if current_user && current_user.votes.where(:link_id => link.id, :up => false).present? %>
    *
  <% else %>
    <%= link_to "+", votes_path(:vote => {:link_id => link.id, :up => false}), :method => :post %>
  <% end %>
    Votes: <%= link.votes.where(:up => true).count - link.votes.where(:up => false).count %>
  <% end %>
</ul>
<%= will_paginate @links %>