<div class="col-md-4 login-box">
<h1 class="login-box">Share your product!</h1>

 <%= form_for(@link) do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% @link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, placeholder: "Product title", :size => "48" %><br><br>
  </div>
  <div class="field">
    <%= f.label :url, "URL" %><br />
    <%= f.text_field :url, placeholder: "Product link", :size => "48" %><br><br>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, :size => "50x5", placeholder: "Enter a description of the product here" %>
  </div>
  <%= hidden_field_tag :user_id, current_user.id %>
  <div class="actions">
    <input class="btn btn-primary" id='sign-up-button' type="submit" value="Create Link">
  </div>
<% end %>
</div>
