<body>

  <div class="col-md-2 login-box">
    <div class="row">
      <img class="profile-pic" src="http://static3.wikia.nocookie.net/__cb20110516212211/simpsons/pt/images/b/bf/Homer-doh-square.jpg" alt="Profile Picture" class="img-thumbnail" >
    </div>
    <p align='left'>
      <b>User: </b><%= @user.username %><br>
      <b>Title: </b><%= @user.position %><br><br>
      #100<br>
      Reviewer Ranking<br>
      Overall RQ: <%= @user.votes.where(:up => true).count %><br><br>
      <a href="mailto:<%= @user.email %>" target="_top"><%= @user.email %></a><br>
      <a href="">Send a message</a>
    </p>
  </div>

  <div class="col-md-9 login-box" id="remove-pad">
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <h3 align='left'>About Me</h3>
      </div>
      <div class="panel-body">
        <p>
          This is the biography of the user.<br>
          This is the biography of the user.<br>
          This is the biography of the user.<br>
          This is the biography of the user.<br>
          This is the biography of the user.
        </p>
      </div>
    </div>
  
  <div class="panel panel-default" style="margin: -20px 0;">
    <div class="panel-heading">
      <h3 align='left'>Recent Activities</h3>
    </div>
    <div class="panel-body">
      <p>
        Insert code to show user reviews<br>
        Insert code to show user reviews<br>
        Insert code to show user reviews<br>
        Insert code to show user reviews<br>
        Insert code to show user reviews<br>
      </p>
    </div>
  </div>
